.divMainCarrinho{
  padding: 5vh;
}

.divMainCarrinho1{
  display: flex;
  margin-top: 5vh;
  justify-content: space-around;
}

.divSubtotal{
  margin-right: 30vw;
  border: solid 1px black ;
  border-radius: 5px;
  height: 10vw;
  width: 20vw;
  padding: 3vh;
}
.divSubtotal input{
  margin-top: 5vh;
  margin-left: 10%;
  width: 80%;
  height: 5vh;
}